@mixin freePosition($position: absolute, $top: auto, $bottom: auto, $left: auto, $right: auto, $size: none) {
    position: $position;
    top: $top;
    bottom: $bottom;
    right: $right;
    left: $left;


    @if $size ==contain {
        right: 0;
        left: 0;
    }

    @if $size ==cover {
        z-index: 9;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
}