@import '../../../../styles.scss';

abbr {
    color: var(--bg-color);
    position: absolute;
    z-index: 99;
    left: 0;
    max-width: 140px;
    font-size: 12px;
    font-weight: 600;
    div[content] {
        background-color: var(--color-accent);
        min-width: 35px;
        min-height: 25px;
    }

    div[pointer] {
        height: 5px;
        color: var(--color-accent);
        transform: rotate(180deg) translateY(-5px);
        text-align: center;
    }

    &:hover {
        display: block;
    }
}
