@import '../../../../styles.scss';

.host {
    font-size: var(--cardFont);
    padding: 5px;
    background-color: var(--bg-color);
    border-radius: 10px;
    margin-bottom: 5px;

    .header {
        h6 {
            padding-top: .1em;
            font-size: 1.2em;
            font-weight: 600;
        }

        .wait {
            margin-right: .5em;
            font-size: 1.2em;
            color: var(--color-primary);
        }

        button {
            font-size: 1.3em;
            @include app-btn();
        }

    }

    .body {
        display: flex;
        flex-wrap: wrap;
        gap: .6em;

        .chip-items {
            width: 100%;
            display: flex;
            gap: .5em;

            .chip {
                @include app-btn();
                color: var(--bg-color);
                font-size: 1em;
                font-weight: 600;
                border-radius: 6px;
                padding: 1px 6px;
                display: flex;
                align-items: center;
                margin: 3px;
            }

            .state {
                background-color: var(--color-primary);
            }

            .probability_status {
                background-color: var(--color-secondray);
            }

            .outDate {
                background-color: var(--danger-color);
                color: #ffffff;
                padding: 0px;

                i {
                    line-height: 10px;
                    font-size: 1.5em;
                }
            }
        }

        .contact {
            width: 100%;
            gap: .5em;
            color: var(--color-primary);
        }

        .schedule {
            color: var(--color-primary);
            gap: .5em;
            width: 100%;
        }
    }

    .expire {
        width: fit-content !important;
        background-color: var(--alert-bg);
        color: var(--danger-color) !important;
        padding: 1px 5px;
        border-radius: 2px;
    }

    .footer {
        progress {
            width: 100%;
            border-radius: 5px;
            height: 8px;
            background-color: var(--bg-color);
            border: 1px solid var(--succuss-bg);
        }

        progress::-moz-progress-bar {
            background: var(--succuss-color-1);
        }

        progress::-webkit-progress-value {
            background: var(--succuss-color-1);
        }
    }

    &.readyState {
        .body {
            .probability_status,
            .outDate,
            .past-due {
                display: none !important;
            }

            .expire {
                background-color: transparent !important;
                color: var(--color-primary) !important;
            }
        }
        .header {
            .wait {
                display: none;
            }
        }
    }

    &.done {
        .header{
            button{display: none;}
        }
        .state {
            background-color: var(--bg-color) !important;
        }

        background-color: var(--succuss-bg);

        * {
            color: var(--succuss-color-1) !important;
        }
    }
}