/* You can add global styles to this file, and also import other style files */
@import './app/styles/shared-styles.scss';
@import './app/styles/layout.scss';
@import './app/styles/animation.scss';

:root {
    --cardFont: 12px;
    --color-primary: #aaaaaa;
    --color-secondray: #176EFF;
    --color-accent: #2f3c4d;
    --warn-color: #d0dd1c;
    --danger-color: #d12727d3;
    --alert-color: #842029;
    --bg-color: #fff;
    --bg-overlay: rgba(0, 0, 0, 0.02);
    --succuss-color: #0cdd17;
    --succuss-color-1: #0cdd16c7;
    --succuss-bg: #e7f4ed;
    --alert-bg: #f8d7da85;
}

body {
    * {
        padding: 0px;
        margin: 0px;
    }

}

.material-symbols-outlined {
    &.outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;
    }

    &.fill {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;
    }
}

.container-fluid {
    max-width: 1300px;
}

@media screen and (max-width:768px) {
    :root{
        --cardFont: 10px;
    }
}